@using LlmTornado.Docs.Code.Intellisense
@inject IJSRuntime JS
@inject NavigationManager NavigationManager
@inject BlazorWorker.Core.IWorkerFactory WorkerFactory
@inject HttpClient Http

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Intellisense.Init(JS, NavigationManager, WorkerFactory, Http);
    }
}
